* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// COLORS
$black-color: #000000;
$white-color: #ffffff;
$grey-color: #cccccc;
$red-color: #ff0000;
$blue-color: #0000ff;
$yellow-color: #ffff00;
$green-color: #008000;




body {
  h1 {
    color: ;
  }
}